body {
    min-height:640px;
    font-family:Comic Sans MS, Comic Sans, Chalkboard, Helvetica, Arial, sans-serif;
}
.bg {
    background-color: #FFFFCC;
    background-repeat:  no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    width:550px;
    height:640px;
    position:absolute;
    top:50%;
    left: 50%;
    margin-left:-275px;
    margin-top: -320px;
}
.doge-image {
    width:550px;
    height:550px;
    background: url(img/doge/doge-regular.png);
    background-repeat: no-repeat;
    background-attachment: center center;
    background-size: 550px 550px;
}
#all-weather {
    height:90px;
    position:relative;
    top:-100px;
    text-align: center;
}
#weather-desc {
    font-size: 30px;
    color:#33D6FF;
    text-transform: lowercase;
}
#identifiers {
    visibility:hidden;
}
#location {
    color: #ff3399;
}
.t {
    color: #30FFD6;
    display: inline-block;
}
.suchlikes {
    display:block;
    padding: 10px;
}
.much-like {
    display:inline-block;
    padding:5px;
}
.ourinfo {
    background: rgba(0,0,0,0.5);
    position: fixed;
    right: 0;
    left: 0;
    bottom: -10px;
    color: #ffffe6;
    font-size: 12px;
    padding: 5px;
    z-index: 99999;
}
.ourinfo p {
    margin: 0;
    padding:0;
}
.ourinfo a {
    text-decoration: none;
    color:#FFFF99;
    font-weight: bold;
}
.ourinfo a:hover {
    color: #FF3399;
}

#dogecoinbox{
    cursor:pointer;
}	

#coinclick{
    color:#FFFF99;
    cursor:pointer;
    font-weight: bold;
}

#coinclick:hover{
    color:#FF3399;
}

#coinaddress{
    display:none;
    clear:both;
}
#browser_geo {
    cursor:pointer;
    width:auto;
    position:absolute;
    font-size:15px;
    top:10px;
    right:10px;
    padding: 10px;
    color: #FFFF75;
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 99999;
}
#browser_geo:hover {
    color:#FF5CFF;
}